<%= form_for(@train) do |f| %>
  <%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit "#{@train.new_record? ? 'Create' : 'Change' }" %>
  </div>
<% end %>
