<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @train.title %>
</p>

<p>
  <strong>On the station:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Not set
  <% end %>
</p>

<p>
  <strong>On the route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    Not set
  <% end %>
</p>


<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
