<p>Билет купил:</p>
<p> Имя:<%= @ticket.name %></p>
<p> Фамилия:<%= @ticket.surname %></p>
<p> Отчество:<%= @ticket.middlename %></p>
<p> Паспорт:<%= @ticket.passport %></p>
<p> Откуда:<%= @ticket.start %></p>
<p> Куда:<%= @ticket.end %></p>
