<h1>Vagon <%= @vagon.number %></h1>

<p>
  Train: <%= @vagon.train.title %>
</p>

<p>
  Top seats: <%= @vagon.top_seats %>
</p>

<p>
  Bottom seats: <%= @vagon.bottom_seats %>
</p>

<p>
  Side top seats: <%= @vagon.side_top_seats %>
</p>

<p>
  Side bottom seats: <%= @vagon.side_bottom_seats %>
</p>

<%= link_to "Back", @vagon.train %>
