<h1>Список билетов</h1>
<table>
  <tr>
    <th>Title</th>
    <th colspan="3"></th>
  </tr>

  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.number %></td>
      <td><%= link_to 'Показать', admin_ticket_path(ticket) %></td>
      <td><%= link_to 'Редактировать', edit_admin_ticket_path(ticket) %></td>
      <td><%= link_to 'Удалить', admin_ticket_path(ticket),
              method: :delete,
              data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>

<p>
<%= link_to 'Перейти к маршрутам', admin_routes_path %>
<%= link_to 'Перейти к станциям', admin_railway_stations_path %>
<%= link_to 'Перейти к поездам', admin_trains_path %>
</p>
