<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @vagon.vagon_type %>
</p>

<p>
  <strong>Connected to Train:</strong>
  <% if @vagon.train.present? %>
    <%= @vagon.train.title %>
  <% else %>
    Not set
  <% end %>
</p>

<h1>Вагон №<%= @vagon.number %></h1>

<p>
  Поезд: <%= @vagon.train.number %>
</p>

<p>
  Верхних сидений: <%= @vagon.top_seats %>
</p>

<p>
  Нижних сидений: <%= @vagon.bottom_seats %>
</p>

<p>
  Врехних боковых сидений: <%= @vagon.side_top_seats %>
</p>

<p>
  Нижних боковых сидений: <%= @vagon.side_bottom_seats %>
</p>

<%= link_to "Назад", [@vagon.train] %>
