<p id="notice"><%= notice %></p>

<p>
  <strong>Тип вагона:</strong>
  <%= @vagon.type %>
</p>

<p>
  <strong>Подсоединен к поезду:</strong>
  <% if @vagon.train.present? %>
    <%= @vagon.train.title %>
  <% else %>
    Not set
  <% end %>
</p>

<h1>Вагон №<%= @vagon.number %></h1>

<% if (@vagon.type == 'Cupe') || (@vagon.type == 'Plackart') %>

<p>
  Верхних сидений: <%= @vagon.top_seats %>
</p>

<% end %>

<% if (@vagon.type == 'Cupe') || (@vagon.type == 'Sv') || (@vagon.type == 'Seat') %>

<p>
  Нижних сидений: <%= @vagon.bottom_seats %>
</p>

<% end %>

<% if (@vagon.type == 'Plackart') %>

<p>
  Врехних боковых сидений: <%= @vagon.side_top_seats %>
</p>


<p>
  Нижних боковых сидений: <%= @vagon.side_bottom_seats %>
</p>

<% end %>

<%= link_to "Назад", [:admin, @vagon.train] %>
