<!DOCTYPE html>
<html>
<head>
  <title>Tutu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  <p>
  <%= "Hello #{current_user.myname}" %>
  </p>
  <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Войти", new_user_session_path %> 
<% end %>

<%= yield %>

</body>
<footer>
  <p>(с) 2016  Владимир Мазо. Учебный проект в <a href=http://thinknetica.com/>онлайн-школе Thinknetica</a></p>
</footer>
</html>
